.chat-item {
	display: flex;
	gap: 10px;
	padding: 11px 12px 10px 12px;
	cursor: pointer;
	transition: 0.1s ease all;
}

.selected {
	background: var(--gradient-grey);
}

.chat-item:hover {
	background: var(--gradient-grey);
}

.chat-item:active {
	background: none;
}

.avatar-wrapper {
	position: relative;
	height: fit-content;
}

.avatar {
	width: 52px;
	height: 52px;
	flex-shrink: 0;
	border-radius: 50%;
	background: var(--gradient-avatar);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.online-circle {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #18c463;
	border: 4px solid rgba(255, 255, 255, 0.8);
	box-sizing: content-box;
	position: absolute;
	bottom: 0;
	right: 0;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 10px 0;
	flex: 1;
}

.name-wrapper {
	display: flex;
	gap: 8px;
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	white-space: nowrap;
	font-size: 16px;
	line-height: 1;
	flex: 1;
}

.time {
	font-size: 14px;
	line-height: 1;
	color: var(--color-grey);
}

.preview-wrapper {
	display: flex;
	gap: 4px;
}

.preview {
	font-size: 15px;
	color: var(--color-grey);
	flex: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.count {
	margin-top: 3px;
	height: 15px;
	min-width: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	background: var(--gradient-red);
	border-radius: 100px;
	padding: 0 4px;
	line-height: 1;
}

.tooltip {
	position: absolute;
	width: fit-content;
	height: max-content;
	max-width: 220px;
	color: #fff;
	background-color: rgb(27, 27, 27);
	font-size: 13px;
	padding: 6px 10px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.301);
	visibility: hidden;
	z-index: 100;
	top: 0;
	left: 0;
	pointer-events: none;
	display: -webkit-box;
	-webkit-line-clamp: 10; /* number of lines to show */
	line-clamp: 10;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.tooltip-visible {
	visibility: visible;
}
