.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s ease all;
}

.dialog {
	opacity: 1;
	background-color: #fff;
	border-radius: 20px;
	width: 320px;
	transition: 0.2s ease all;
}

.hide {
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0);
}

.hide .dialog {
	opacity: 0;
	transform: translate(0, 0) scale(0);
}

.header {
	height: 52px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-border);
}

.title {
	font-weight: 600;
	font-size: 17px;
}

.content {
	padding: 22px 14px;
}

.actions-wrapper {
	padding: 12px;
	border-top: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	gap: 8px;
}

.actions-wrapper button {
	height: 40px;
	flex: 1;
	border-radius: 100px;
	background: var(--gradient-grey);
	font-weight: 500;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.actions-wrapper .primary-action {
	background: var(--gradient-black);
	color: #fff;
}
