@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* COLORS */
	--gradient-grey: linear-gradient(#f1f1f1, #f7f6f5);
	--gradient-black: linear-gradient(#000000, #3c3c3c);
	--gradient-red: linear-gradient(#f10b0b, #d10000);
	--gradient-avatar: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.08));
	--color-grey: rgba(0, 0, 0, 0.5);
	--color-border: #ebedec;
	--color-blue: #014bf6;
}

* {
	user-select: none;
}

.clickable {
	transition: 0.1s ease transform;
	cursor: pointer;
}

.clickable:hover {
	transform: scale(1.05);
}

.clickable:active {
	transform: scale(0.95);
}
